{{!< default}}

<article class="page-{{id}} {{post_class}}" role="article">
	{{#post}}
		<div class="page-content">
			<h1 class="page-title">{{{title}}}</h2>
			{{content}}
		</div>
	{{/post}}
</article>