<nav class="blog-navigation" role="navination">
	<ul>
		<li><a href="{{@blog.url}}/about">About</a></li>
		<li><a href="{{@blog.url}}/contact">Contact</a></li>
		<li><a href="{{@blog.url}}/rss" target="_blank">RSS Feed</a></li>
	</ul>
</nav>