/**
 * Main CSS file for Pipe
 */

/* ==========================================================================
   Table of Content
   ========================================================================== */

/**
 * Table of Content

   1.  Typography
   2.  Header
   3.  Section
   4.  Home + Archive
   5.  Post
   6.  Page
   7.  Share
   8.  Pagination
   9.  Footer

   10. Media Queries

 */

/* ==========================================================================
   1. Typography
   ========================================================================== */

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 1.4rem;
	line-height: 1.625em;
	color: #2c2c2c;
	background-color: #f6f6f6;
}
h1 {
	font-size: 2em;
	line-height: 1.25em;
	font-weight: 700;
	margin-top: 1em;
	margin-bottom: 1em;
}
h2 {
	font-size: 1.5em;
	line-height: 1.667em;
	font-weight: 700;
	margin-top: 1em;
	margin-bottom: 1em;
}
a {
	color: #2c2c2c;
	text-decoration: underline;

	&:hover,
	&:focus {
		color: #1f3d49;
		text-decoration: none;
	}
}
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}
img {
	vertical-align: middle;
}
blockquote {
	margin: 1.6em 0 1.6em -2.125em;
	padding-left: 1.5em;
	border-left: 0.625em solid rgba(31, 61, 73, 0.6);

	p {
		margin: 0.8em 0;
		font-style: italic;
	}
	cite {
		font-weight: bold;
	}
}
code {
	font: 0.875em Inconsolata, monospace, sans-serif;
	padding: 2px 4px;
	background: rgba(31, 61, 73, 0.05);
	border: 1px solid rgba(31, 61, 73, 0.2);
	border-radius: 3px;
	white-space: pre-wrap;
}
pre {
	width: 100%;
	font: 0.875em Inconsolata, monospace, sans-serif;
	padding: 10px;
	background: rgba(31, 61, 73, 0.05);
	border: 1px solid rgba(31, 61, 73, 0.2);
	border-radius: 3px;
	margin-top: 1.143em;
	margin-bottom: 1.143em;
	overflow: auto;
	white-space: pre;

	code {
		font-size: inherit;
		white-space: -moz-pre-wrap;
		white-space: pre-wrap;
		background: transparent;
		border: none;
		padding: 0;
	}
}
hr {
	width: 110px;
	height: 10px;
	background: #1f3d49;
	border: none;
	margin: 2em auto;
}


/* ==========================================================================
   2. Header
   ========================================================================== */

header {
	width: 100%;
	height: 344px;
	text-align: center;
	margin-bottom: 5.375em;
	position: relative;
	overflow: hidden;

	&:before,
	&:after {
		width: 100%;
		height: 0;
		border: 10px solid transparent;
		position: absolute;
		bottom: 0;
		content: ' ';
	}
	&:before {
		border-bottom-color: #f6f6f6;
		right: 50%;
	}
	&:after {
		border-bottom-color: #f6f6f6;
		left: 50%;
	}

	.blog-logo {
		margin-top: 0.25em;
		margin-bottom: -0.5em;
		position: relative;

		h1 {
			font-family: 'Roboto Slab', serif;
			line-height: 1.875em;
			font-weight: 300;
			color: rgba(255, 255, 255, 0.74);
			padding: 0 1em;
			background: rgba(31, 61, 73, 0.7);
			margin-top: 0;
			margin-bottom: 0;
			display: inline-block;

			a {
				color: rgba(255, 255, 255, 0.74);
				text-decoration: none;
				padding: 0 1em;
				margin: 0 -1em;
				display: block;
			}
		}
	}
	.blog-description {
		h2 {
			font-family: 'Roboto Slab', serif;
			font-weight: 300;
			color: rgba(255, 255, 255, 0.74);
			padding: 0 1em;
			background: rgba(31, 61, 73, 0.6);
			margin-top: 0;
			margin-bottom: 0;
			display: inline-block;
			box-shadow: 0 4px rgba(65, 130, 156, 0.6);
		}
	}
	.blog-cover {
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		-webkit-background-size: cover;
		background-size: cover;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}
	nav.blog-navigation {


		ul {
		    padding-left: 0;
		    margin-top: 3em;

		    li {
				display: inline-block;

				a {
					color: rgba(255, 255, 255, 0.74);
				    text-decoration: none;
					padding: 0 1em;
					background: rgba(31, 61, 73, 0.2);
					display: block;

					&:hover,
					&:focus {
						background: rgba(31, 61, 73, 0.4);
					}
					&:active {
						background: rgba(31, 61, 73, 0.6);
					}
				}
			}
		}
	}
}


/* ==========================================================================
   3. Section
   ========================================================================== */

section {
	width: 100%;
	max-width: 1264px;
	padding-right: 2em;
	padding-left: 2em;
	margin-right: auto;
	margin-left: auto;
}

article:before,
article:after {
	content: ' ';
	display: table;
}
article:after {
	clear: both;
}


/* ==========================================================================
   4. Home + Archive
   ========================================================================== */

.home-template,
.archive-template {

}
.home-template article,
.archive-template article {
	margin-bottom: 48px;
	position: relative;
}
.home-template article,
.archive-template article {
	background-color: #fff;
}
.home-template article .post-image,
.archive-template article .post-image {
}
.home-template article .post-image .image,
.archive-template article .post-image .image {
	padding-bottom: 100%;
	background-position: 50% 50%;
	background-size: cover;
}
.home-template article .post-image p,
.archive-template article .post-image p {
	margin-top: 0;
	margin-bottom: 0;
}
.home-template article .post-image img,
.archive-template article .post-image img {
	width: auto;
	height: 100%;
	position: absolute;
}
.home-template article .post-excerpt,
.archive-template article .post-excerpt {
	padding: 1em 1.5em;
}
.home-template article .post-excerpt .post-meta,
.archive-template article .post-excerpt .post-meta {
	font-weight: 600;
	text-transform: uppercase;
	padding-top: 1px;
	padding-bottom: 1px;
	border-bottom: 1px solid #1f3d49;
}
.home-template article .post-excerpt h1,
.archive-template article .post-excerpt h1 {
	color: #2c2c2c;
	margin-bottom: 0.5em;
}
.home-template article .post-excerpt h1 a,
.archive-template article .post-excerpt h1 a {
	color: #2c2c2c;
	text-decoration: none;
}
.home-template article .post-excerpt .read-more,
.archive-template article .post-excerpt .read-more {
	line-height: 3.125em;
	font-weight: 700;
	text-transform: uppercase;
	color: #1f3d49;
	margin-top: 2em;
	display: inline-block;
	opacity: 0.6;
	overflow: hidden;
	transition: opacity 0.3s;
}
.home-template article .post-excerpt .read-more:hover,
.archive-template article .post-excerpt .read-more:hover {
	opacity: 1;
}
.home-template article .post-excerpt .read-more a,
.archive-template article .post-excerpt .read-more a {
	color: #1f3d49;
	text-decoration: none;
	padding-right: 1em;
	display: block;
}
.home-template article .post-excerpt .read-more .rectangle,
.archive-template article .post-excerpt .read-more .rectangle {
	width: 50px;
	height: 50px;
	margin: 0 16px 2px -6px;
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
	transition: margin-left 0.3s;
}
.home-template article .post-excerpt .read-more:hover .rectangle,
.archive-template article .post-excerpt .read-more:hover .rectangle {
	margin-left: 0;
}
.home-template article .post-excerpt .read-more .circle,
.archive-template article .post-excerpt .read-more .circle {
	width: 50px;
	height: 50px;
	background: #1f3d49;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
}
.home-template article .post-excerpt .read-more .circle img,
.archive-template article .post-excerpt .read-more .circle img {
	width: 14px;
	height: 22px;
	margin-top: -11px;
	margin-left: -7px;
	position: absolute;
	top: 50%;
	left: 50%;
}


/* ==========================================================================
   5. Post
   ========================================================================== */

.post-template {


	article {
		margin-bottom: 4em;

		.post-image {
			text-align: center;
			margin-bottom: 3.5em;
			position: relative;

			img {
				max-width: 100%;
			}
		}
		.post-image-caption {
			width: 242px;
			position: absolute;
			bottom: -4em;
			left: -1em;
			.rectangle {
				width: 100%;
				height: 0;
				padding-bottom: 107.2165%;
				overflow: hidden;
			}
			.circle {
				width: 107.2165%;
				height: 0;
				padding-bottom: 107.2165%;
				background: #1f3d49;
				border-radius: 50%;
				margin-left: -18px;
				overflow: hidden;
				position: relative;
			}
			p {
				font-size: 1.4rem;
				color: #fff;
				text-align: left;
				padding: 4em;
				margin-top: 0;
				margin-bottom: 0;
			}
		}
		.post-content {
			width: 100%;
			max-width: 700px;
			padding-right: 1.5em;
			padding-left: 1.5em;
			margin-right: auto;
			margin-left: auto;

			h1 {
				font-size: 3em;
				text-align: center;
			}
			img {
				max-width: 100%;
			}
			.post-meta {
				font-size: 1.2rem;
				font-style: italic;
				color: rgba(44, 44, 44, 0.54);
				margin-top: 4em;
				margin-bottom: 2em;
			}
		}
	}
}


/* ==========================================================================
   6. Page
   ========================================================================== */

.post-template.page {


	article {


		.page-content {
			width: 100%;
			max-width: 630px;
			margin-right: auto;
			margin-left: auto;

			h1 {
				text-align: center;
			}
			img {
				max-width: 100%;
			}
		}
	}
}


/* ==========================================================================
   7. Share
   ========================================================================== */

@font-face {
	font-family: 'fontello';
	src: url('../fonts/fontello.eot?97333172');
	src: url('../fonts/fontello.eot?97333172#iefix') format('embedded-opentype'),
		 url('../fonts/fontello.woff?97333172') format('woff'),
		 url('../fonts/fontello.ttf?97333172') format('truetype'),
		 url('../fonts/fontello.svg?97333172#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
	@font-face {
		font-family: 'fontello';
		src: url('../fonts/fontello.svg?97333172#fontello') format('svg');
	}
}
.post-share {
	width: 100%;
	max-width: 970px;
	text-align: center;
	padding-top: 35px;
	margin: 87px auto 24px auto;
	position: relative;

	&:before {
		width: 110px;
		height: 10px;
		background-color: #1f3d49;
		margin-left: -55px;
		position: absolute;
		bottom: 100%;
		left: 50%;
		content: ' ';
	}

	h3 {
		color: rgba(44, 44, 44, 0.54);
		margin-top: 0;
		margin-bottom: 0;
	}
	.icon {
		width: 32px;
		height: 32px;
		line-height: 32px;
		text-align: center;
		border-radius: 32px;
		margin-right: -4px;
		margin-left: -4px;
		display: inline-block;
		position: relative;
		opacity: 0.8;
		-moz-transition: margin 0.2s;
		-webkit-transition: margin 0.2s;
		transition: margin 0.2s;

		&:hover {
			margin-right: 0;
			margin-left: 0;
		}
		&:first-child:hover {
			margin-left: -4px;
		}
		&:last-child:hover {
			margin-right: -4px;
		}
		&:after {
			width: 32px;
			height: 32px;
			font-size: 1.4rem;
			font-family: 'fontello';
			line-height: 2.214em;
			color: #fff;
			padding-top: 1px;
			display: inline-block;
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			cursor: help;
		}
		&.twitter {
			background: rgb(41, 181, 233);

			&:after {
				content: '\e800';
			}
		}
		&.facebook {
			background: rgb(59, 91, 153);

			&:after {
				content: '\e801';
			}
		}
		&.gplus {
			background: rgb(215, 74, 56);

			&:after {
				content: '\e802';
			}
		}
		&.linkedin {
			background: rgb(65, 131, 196);

			&:after {
				content: '\e803';
			}
		}

		a {
			display: block;
			overflow: hidden;
			white-space: nowrap;
			text-indent: 100%;
		}
	}
}


/* ==========================================================================
   8. Pagination
   ========================================================================== */

nav.blog-pagination {
	width: 100%;
	max-width: 970px;
	height: 3.75em;
	font-weight: 700;
	line-height: 3.75em;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
    padding-right: 3.813em;
    padding-left: 3.813em;
	margin: 8em auto;

	ul {
		padding-left: 0;
		list-style: none;
		background: rgba(31, 61, 73, 0.2);
		position: relative;

		li {
			display: inline-block;

			&.prev,
			&.next {
				width: 3.75em;
				height: 3.75em;
				background: rgba(31, 61, 73, 0.2);
				position: absolute;
				top: 0;
				white-space: nowrap;
			}
			&.prev {
				margin-right: 1px;
				right: 100%;
			}
			&.next {
				margin-left: 1px;
				left: 100%;
			}
		}
	}
}
nav.blog-pagination ul li.prev:hover,
nav.blog-pagination ul li.next:hover {
	background: #1f3d49;
}
nav.blog-pagination ul li h3 {
	font-size: 1em;
	padding-right: 1.25em;
	padding-left: 1.25em;
	margin-top: 0;
	margin-bottom: 0;
	display: inline-block;
}
nav.blog-pagination ul li.prev a,
nav.blog-pagination ul li.next a {
	color: #fff;
	text-decoration: none;
	display: block;
}
nav.blog-pagination ul li.prev h3,
nav.blog-pagination ul li.next h3 {
	background: #1f3d49;
	display: none;
	position: absolute;
	top: 0;
}
nav.blog-pagination ul li.prev h3 {
	margin-left: 1px;
	left: 100%;
}
nav.blog-pagination ul li.next h3 {
	margin-right: 1px;
	right: 100%;
}
nav.blog-pagination ul li.prev:hover h3,
nav.blog-pagination ul li.next:hover h3 {
	display: inline-block;
}
nav.blog-pagination ul li.prev .icon,
nav.blog-pagination ul li.next .icon {
	width: 3.75em;
	height: 3.75em;
	display: inline-block;
}


/* ==========================================================================
   9. Footer
   ========================================================================== */

footer {
	width: 100%;
	max-width: 1264px;
	font-size: 1.4rem;
	color: rgba(44, 44, 44, 0.74);
	text-align: center;
	padding-top: 25px;
	padding-bottom: 10px;
	padding: 1.5em 2em 1em 2em;
	margin: 4em auto 0 auto;
	position: relative;

	&:before {
		width: 110px;
		height: 10px;
		background-color: #1f3d49;
		margin-left: -55px;
		position: absolute;
		bottom: 100%;
		left: 50%;
		content: ' ';
	}

	a {
		color: rgba(44, 44, 44, 0.74);
	}
	span {
		margin-right: 14px;
		margin-left: 14px;
		white-space: nowrap;
	}
}


/* ==========================================================================
   10. Media Queries
   ========================================================================== */

@media only screen and (min-width: 560px) {
	.home-template article .post-excerpt,
	.archive-template article .post-excerpt {
		padding: 2.5em 3em;
	}
}

@media only screen and (min-width: 960px) {
	body {
		font-size: 1.6rem;
	}
	.home-template article .post-image,
	.archive-template article .post-image {
		width: 50%;
		float: right;
	}
	.home-template article .post-excerpt,
	.archive-template article .post-excerpt {
		width: 50%;
		float: left;
	}
	.home-template article .post-excerpt .read-more,
	.archive-template article .post-excerpt .read-more {
		margin-top: 1em;
		margin-bottom: -0.5em;
	}
}

@media only screen and (min-width: 1024px) {
	.home-template article .post-excerpt .read-more,
	.archive-template article .post-excerpt .read-more {
		margin-top: 2em;
		margin-bottom: 0;
	}
}